.body-container-wrapper{
  margin: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 5%;
}
.body-container-wrapper .page-center{
  border: solid white; 1px;
  border-radius: 5px;
  box-shadow: 7px 7px 7px 7px gray;
  padding: 10px;
  text-align: center;
}
.body-container-wrapper .page-center button{
  background: green;
  height: 60px;
  width: 100%;
  color: white;
  font-size: 20px;
  text-align: center;
  border: solid green 1px;
  border-radius: 4px;
}